!!! 5
%html.gss-not-ready{lang: "en" }
  %head    
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ charset: "utf-8" }
    %title Replication
    %meta{ content: "", name: "description" }
    %meta{ content: "", name: "author" }

    %link{ href: "/style.sass", rel: "stylesheet" }
    %link{ href: "http://yui.yahooapis.com/pure/0.5.0/pure-min.css", rel:"stylesheet" }
    %script{ src: "/application.js"}

  %body
    .wrapper
      =yield